@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');
:root {
  --body-font: 'Montserrat', sans-serif;
  --light-main: #ffffff;
  --dark-main: #398683;
  --accent: #e2e2e2;

  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  padding: 0 0.5rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header {
  width: 100%;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-right{
  margin-left: auto;
}

.menu-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 111;
  background: var(--dark-main);
}

.menu-btn-line {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--accent);
  transition: all 0.5s ease-in-out;
}

.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: var(--accent);
  transition: all 0.5s ease-in-out;
}

.menu-btn-line::before {
  transform: translateY(-7px);
}
.menu-btn-line::after {
  transform: translateY(7px);
}

.menu-btn.open .menu-btn-line {
  transform: translateX(-50px);
  background-color: transparent;
}

.menu-btn.open .menu-btn-line::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* nav list  */

.nav-list {
  background-color: var(--dark-main);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  color: var(--light-main);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  transition: 0.3s ease;
  transform: translateX(-100%);
}

.nav-link {
  color: var(--light-main);
  font-size: 1rem;
  position: relative;
  width: auto;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  background: var(--accent);
  height: 2px;
}

.nav-link:hover {
  color: #ffffff;
  transition: linear 0.3s;
}
.nav-link:hover::after {
  width: 83%;
  transition: linear 0.3s;
}

.nav-open {
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

/* landing section */

.landing {
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.landing:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  clip-path: polygon(0 100%, 100% 100%, 50% 70%);
}

.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
}


.content .landingTitle{
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: #eeeeee;
}
.intro-title {
  font-size: 2.5rem;
  color: #cccccc;
  margin-top: 2rem;
}

.content h3{
  margin: 2rem 0;
  color: #cccccc;
}

.content .followMe{
  text-transform: uppercase;
  color: #cccccc;
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

/* about */

.about {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.about-container {
  max-width: 700px;
  padding: 2rem 1rem;
}

.about-txt {
  line-height: 1.5;
  padding-top: 1rem;
}

/* skills */

.skills {
  background-color: #1f2833;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 6rem 0;
  position: relative;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  padding: 1rem;
  color: #fff;
}

.skills-container h2 {
  align-self: flex-start;
}

.skills-title,
.projects-title {
  font-size: 1.4rem;
}
.skills-list {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-body {
  line-height: 1.8;
  margin: 2rem 0;
}
.skill {
  width: 100px;
  height: 140px;
  margin: 0.5em;
}

.skills-title,
.skills-body {
  align-self: flex-start;
}

.tech {
  height: 50%;
  width: 100%;
  text-align: center;
}

.fa-skills {
  font-size: 4.5rem;
  text-align: center;
  color: #555;
  padding-top: 0.5rem;
}

.tech-name {
  width: 100%;
  padding-top: 1.6em;
  text-align: center;
}

.fa-html5,
.fa-css3-alt,
.fa-bootstrap,
.fa-js-square,
.fa-git-alt,
.fa-github,
.fa-terminal,
.fa-mobile-alt,
.iconify {
  color: var(--fc-dark-blue);
}

/* projects */

.projects {
  background-color: #dbdbdb;
  position: relative;
}

.projects-title{
  max-width: 700px;
  padding: 2rem 1rem;
  margin: auto;
}

.sec-body{
  font-size: 1.1rem;
}

.cards {
  max-width: 700px;
  display: flex;
  padding: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  /* box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5); */
  padding-bottom: 1rem;
  overflow: hidden;
  margin: 0.2rem;
}

.card:hover {
  background-color: rgb(214, 214, 214);
}

.card .card-image {
  height: 150px;
  overflow: hidden;
}
.card img:hover {
  transform: scale(1.1);
  opacity: 0.5;
  transition: 500ms ease-in-out;
}

.card-image img {
  width: 100%;
}

.project-name{
  font-size: 1rem;
  margin: 1rem 0;
}

.project-btn {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem ;
  border: 1px solid #398683;
  background-color: #398683;
  color: var(--light-main);
}

.project-btn:hover {
  background-color: #43a19e;
  transition: 200ms ease-in-out;
}

/*   contact form    */

.contact-form {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.form-div {
  padding: 1rem 0;
  max-width: 700px;
}

.sec-title {
  font-size: 1.3rem;
  padding: 1rem 0;
}
#contct {
  padding-bottom: 10%;
  /* text-align: center; */
  padding-left: 1rem;
}
.feedback-input {
  color: var(--dark-main);
  font-weight: 300;
  font-size: 14px;
  border-radius: 0;
  line-height: 22px;
  background-color: inherit;
  padding: 1rem;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid transparent;
  border-bottom: 1px solid var(--dark-main);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  color: var(--dark-main);
  outline: none;
  padding: 13px 13px 13px 13px;
}

.focused {
  color: var(--dark-main);
  border: var(--accent) solid 2px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: #fcfcfc;
}

.submit-btn {
  /* width: 100%; */
  border: 0px solid transparent;
  cursor: pointer;
  background-color: var(--dark-main);
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s;
  margin-top: -4px;
}

.submit-btn:hover {
  background-color: #3a3c4a;
}

@media only screen and (max-width: 580px) {
  header {
    background: var(--dark-main);
  }
  .skills {
    padding: 3rem 0;
  }

  .form-div {
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }

  .intro-title{
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .intro-body{
    font-size: 1.3rem;
  }
  #likes {
    font-size: 1rem;
  }
}
/* footer */

footer {
  background-color: var(--dark-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem 0;
}

footer .footer {
  padding-bottom: 3rem;
  color: #fff;
}

.social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media-list-item {
  margin: 0.3rem;
  margin: 0.3rem;
  /* background-color: var(--dark-main); */
  padding: 0.2rem;
  border-radius: 50%;
}

.social-link {
  padding: 0 0.2rem;
  color: #cccccc;
  font-size: 1.3rem;
}

.social-link:hover {
  color: #ffffff;
}

.copy {
  color: var(--light-main);
  font-size: 0.8rem;
  margin-top: 3rem;
}

@media screen and (min-width: 740px) {
  .nav-list {
    width: 20%;
  }
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

