:root {
  --ff-body-font: 'Ubuntu', sans-serif;
  --ff-logo-font: 'Kaushan Script', cursive;

  --fc-light: #EEFBFB;
  --fc-dark-blue:#2d545e;
  --fc-light-gray: #f3f3f3;
  --color-sand-tan: #F2C76E;

  --fs-title: 2rem;
  --fs-sub-title: 1.8rem;
  --fs-section-title: 1.4rem;
  --fs-body-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .header{
    background-color: #075150;
    width: 100%;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation{
    width: 100%;
  }
  .nav-container {
    width: 100%;
    justify-content: space-between;
  }

  .logo{
    display: inline-flex;
   padding-left: 1rem;
  }

  .content {
    margin-top: 1rem;
    left: 50%;
    width: 70%;
  }
  
  .content__container {
    padding: 0;
  }

  .content__container__list{
    padding-left: 60px;
  }
  
  .content__container__text,
  .content__container__list__item{
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  .content__container:after, .content__container:before {
    font-size: 1.2rem;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 102;
  }

  .menu-btn-line {
    width: 35px;
    height: 3px;
    display: block;
    background-color: var(--color-sand-tan);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-line::before,
  .menu-btn-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: var(--color-sand-tan);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-line::before {
    transform: translateY(-11px);
  }
  .menu-btn-line::after {
    transform: translateY(11px);
  }

  .menu-btn.open .menu-btn-line {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .menu-btn.open .menu-btn-line::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn-line::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: var(--fc-dark-blue);
    color: var(--fc-light);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
  }

  .nav-link {
    color: var(--fc-light-gray);
    font-size: var(--fs-section-title);
    line-height: 3rem;
  }

  .nav-open {
    transform: translateY(0);
    transition: 0.5s ease-in-out;
  }

/*-------------- intro--------------- */

  .intro{
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.intro-title{
  font-size: 5vh;
  padding: 0 1rem;
  }

  /* .myName{
    font-size: 1.8rem;
  } */

  .intro-body{
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  }

.fa-star{
  font-size: 1rem;
}


/* -------------end intro------------------ */

.section-para-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1.5rem 01rem;
}

.skills-title{
  font-size: 1.5rem;
  padding: 0 1rem;
}


.skills-body{
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}


}
