:root {
  --ff-body-font: 'Ubuntu', sans-serif;
  --ff-logo-font: 'Kaushan Script', cursive;

    --fc-light: #EEFBFB;
    --fc-dark-blue:#12232E;
    --fc-light-gray: #f3f3f3;
    --fc-bluesh: #4DA8DA;
    --fc-accent-color: #007CC7;
  
  --fs-title: 2rem;
  --fs-sub-title: 1.8rem;
  --fs-section-title: 1.4rem;
  --fs-body-size: 1.2rem;    
}

@media screen and (max-width: 800px) {
  .navigation-container {
    flex-direction: column;
  }

  .logo{
   padding-left: 1rem;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }

  .menu-btn-line {
    width: 35px;
    height: 3px;
    display: block;
    background-color: var(--fc-light);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-line::before,
  .menu-btn-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: var(--fc-light);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-line::before {
    transform: translateY(-11px);
  }
  .menu-btn-line::after {
    transform: translateY(11px);
  }

  .menu-btn.open .menu-btn-line {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .menu-btn.open .menu-btn-line::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn-line::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: var(--fc-dark-blue);
    color: var(--fc-light);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
  }

  .nav-link {
    color: var(--fc-light-gray);
    font-size: var(--fs-section-title);
    line-height: 3rem;
  }

  .nav-open {
    transform: translateY(0);
    transition: 0.5s ease-in-out;
  }

/*-------------- intro--------------- */
  
  .intro{
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.intro-title{
  font-size: 1rem;
  padding: 0 1rem;
  }

  .intro-body{
  font-size: var(--fs-body-size);
  line-height: 1.5;
  margin: 0;
  padding: 0.2rem 1rem;
  }

.intro-title{
  font-size: var(--fs-title);
}

.intro-body{
  font-size: var(--fs-body-size);
  line-height: 2.5rem;
}
.fa-star{
  font-size: 1rem;
}


/* -------------end intro------------------ */

.section-para-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 01.5rem;
}

.skills-title{
  font-size: 1.5rem;
  padding: 0 1.5rem;
}


.skills-body{
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

/* -------------projects------------------ */
  .project{
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem;
  }

  .projects-title{
    padding: 0 2.5rem;
    /* font-size: 1.8rem; */
  }

  .work{
    padding-left: 2.5rem;
  }

  .text-content{
  max-width: 100%;
  padding: 0 1.5rem;
  }

  .project-img-container{
  align-items: center;
  justify-content: flex-end;
  }

  .project-description{
    font-size: 1.2rem;
  }


  .contact-title{
    padding-top: 1.5rem;
  }
  .form-container {
    padding: 0.5rem;
  }


}