@media screen and (max-width: 600px){
    :root{
    --h1-size: 3rem;
    --h2-size: 2.2rem;
    --h3-size: 2rem;
    --body-size: 1.8rem;

    --light-color: #ffffff;
    --dark-color: #0b2b38;
    --accent-color: #41d2ec;
    --accent-hover: #40c5dd;
    }

    section{
        padding: 1em 0.2em;
    }
    ul{
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    
      a{
        display: block;
        font-size: 1.2em;
        color: var(--accent-color);
      }
    
      li{
        margin: 0;
      }
    
      button{
        display: block;
        padding: 2vw;
        font-size: 1.3em;
        background-color: var(--dark-color);
        color:  var(--accent-color);
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
      }
    .tech-list{
        padding-left: 1em;
        margin: 0 auto;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        
    }

    .portfolio-item {
        margin: 0.1em;
        max-width: 500px;
        background: var(--dark-color);
        overflow: hidden;
    }

    .para,
    .footer-para,
    .mail{
        font-size: 0.7em;
    }
.section-title--about{
    font-size: 1em;
}
    .section-subtitle--about{
    font-size: 0.6em;
}

.social-media-list {
    flex-direction: row;
    font-size: 0.8em;
}
}

@media screen and (min-width: 800px ){
    .skills{
        justify-content: space-evenly;
    }
}